<!DOCTYPE html>

<html lang="tr">
<head>
    <title>magExpress</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

   

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />


    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/slick.css" rel="stylesheet" />
    <link href="/assets/css/theme.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/custom.js"></script>
  

    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.min.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    <div class="container">
       <header id="header">
            <div class="row">
                <div class="col-lg-12 col-lg-12">
                    <div class="header_top">
                        
                        <div class="header_top_right">
                            <form action="#" class="search_form">
                                <input type="text" placeholder="Arama">
                                <input type="submit" value="">
                            </form>
                        </div>
                    </div>
                    <div class="header_bottom">
                        <div class="header_bottom_left"><a class="logo" href="/Home/Index">FİRST<strong>BLOG</strong> <span>Keyifli Okumalar ve Paylasımlar</span></a></div>
                        
                    </div>
                </div>
            </div>
        </header> 

   

        @RenderBody()
        
    </div>
    
</body>
</html>