
@{
    ViewBag.Title = "RegisterTrue";
}
<section id="mainContent">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="error_page_content">
                <span style="font:30px Arial; color:orange;">Kayıt İşlemi Başarılı Giriş Sayfasına Yönlendiriliyorsunuz...</span>
              
                
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {

        setTimeout(function () {
            window.location = "/Home/Login";

        }, 3000);

    });

    
</script>


